################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SwaggerTestApi.Web/bin/Debug/net6.0
/SwaggerTestApi.Web/obj
/.vs/SwaggerTestApi/DesignTimeBuild
/.vs/SwaggerTestApi/v17
